:root {
	--randcolor-color1: red;
}

@property --border {
	syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

body {
	min-width: 280px;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

body #quote-box {
	margin-top: 30vh;
	width: 80%;
	position: relative;
	padding: 25px;
	text-shadow: 1px 1px 0px black;
	border-radius: 10px;
	background-color: #f0f0f0;
  border-radius: 15px;
}

body #quote-box h1#text {
	text-align: center;
}

body #quote-box p#author {
	text-align: right;
}

body #quote-box h1#text,
    body #quote-box p#author,
    body #quote-box #tweet-quote,
    body #quote-box #facebook-quote {
	color: var(--randcolor-color1);
}

body #quote-box button {
	text-shadow: 1px 1px 0px black;
	box-shadow: 1px 1px 0px black;
  border-radius: 15px;
  color:white;
  transition: background-color 0.3s, border-color 0.3s;
}

body #quote-box #new-quote {
	background-color: grey;
	height: 60px;
	background: var(--randcolor-color1);
	border-color: var(--randcolor-color1);
}

body #quote-box #new-quote:hover {
	background-color: grey;
	border: 1px solid grey;
}

body #quote-box #new-quote:focus {
	background-color: darkgrey;
	border: 1px solid darkgrey;
}

body #quote-box button:focus,
    body #quote-box #tweet-quote:focus,
    body #quote-box #facebook-quote:focus {
	outline: none;
}

body #quote-box #tweet-quote,
    body #quote-box #facebook-quote {
	font-size: 45px;
}

body #quote-box::after,
  body #quote-box::before {
	content: "";
	position: absolute;
	height: calc(100% + 7px);
	width: calc(100% + 7px);
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: -1;
	background-image: conic-gradient(from var(--border), transparent 65%, var(--randcolor-color1));
	border-radius: inherit;
	animation: 2s spin linear infinite;
}

body #quote-box::before {
	filter: blur(1.5rem);
	opacity: 0.7;
}

@keyframes spin {
	from {
		--border: 0deg;
	}

	to {
		--border: 360deg;
	}
}

body #credit {
	position: relative;
	padding: 10px;
	text-shadow: 1px 1px 0px grey;
	font-size: 25px;
	border-radius: 10px;
	font-family: "VT323", monospace;
	background-color: #f0f0f0;
}

body #credit::before,
  body #credit::after {
	content: "";
	position: absolute;
	width: calc(100% + 5px);
	height: calc(100% + 5px);
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	border-radius: inherit;
	background-image: conic-gradient(from var(--border), red, lightblue, lightgreen, red);
	z-index: -1;
	animation: 4s spin linear infinite;
}

body #credit::before {
	filter: blur(1.5rem);
	opacity: 0.7;
}

@media (max-width: 400px) {
	.row {
		flex-direction: column;
		align-items: right;
	}

	button {
		width: 60vw;
	}
}